header{
    background-color: white;
}

header{
    background-color: rgb(187, 187, 187);
    border: 2px solid yellow;
    height: 100px;
}

main{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
}

.conteudo{
border: 2px solid rgb(0, 17, 255);
height: 200px;
width: 400px;
margin-top: 100px;
margin-bottom: 100px;
}

footer{
    border: 2px solid black;
    height: 200px; 
    margin-top: 100px;
}